<p>
  Turns OpenMW into an engine for isometric RPGs. Was developed as a <a href="https://openmw.org/2022/openmw-roadmap-update/">1st April joke</a>, but surprisingly it turned out to be actually playable and some people liked it. So now OpenNevermind is available as a mod.
</p>
<div class="center">
  <img src="/img/opennevermind.gif" title="A short gif of the mod in action" />
</div>
<h4 id="install">Installation:</h4>
<ol>
  <li>Download the zip from the link above (OpenMW 0.48.0 or newer is required!)</li>
  <li>Extract the contents to a location of your choosing, examples below:
    <pre><code># Windows
C:\games\OpenMWMods\Camera\OpenNevermind

# Linux
/home/username/games/OpenMWMods/Camera/OpenNevermind

# macOS
/Users/username/games/OpenMWMods/Camera/OpenNevermind</code></pre>
  </li>
  <li>Add the appropriate data path to your <code>openmw.cfg</code> file (e.g. <code>data="C:\games\OpenMWMods\Camera\OpenNevermind"</code>)</li>
  <li>Add <code>content=OpenNevermind.omwscripts</code> to your load order in <code>openmw.cfg</code> or enable it via OpenMW-Launcher</li>
</ol>
